// Grunge Food Icon Web Style Variables //

// Typography Variables

//  PT Sans Font Variable
$ptSansFont: 'PT Sans', sans-serif !default;
//  Open Sans Font Variable
$openSansFont: 'Open Sans Condensed', sans-serif !default;


//  Header Colors
$headerBackgroundColor: #f7941d !default;
$bodyBackgroundColor: #304848 !default;
$titleColorLight: #fae3b4 !default;
$titleColorDark: #255559 !default;

$dropCapColor:#363636 !default;
$dropCapContentColor:#fefefe !default;

$small-caps-color: $white !default;
$small-caps-weight: 700 !default;

// Download Section
$dlFontColor:#34495e !default;
$dlIconColor:#f3f7df !default;
$dlZipBackgroundColor:#eff3f3 !default;
$dlZipIconBackgroundColor:#186078 !default;
$dlViewBackgroundColor:#eff3f3 !default;
$dlViewIconBackgroundColor:#363636 !default;


//  Body Section Variables
$bodyHeaderColor:#eff3f3 !default;
$bodyTextColor: #f4f4f4 !default;
$bodyLinkColor:#fae3b4 !default;

//  Thumbsnail and Icons Holder Variables
$iconsBorderColor: #f0a860 !default;
$iconsNameColor: #d35400 !default;
$iconsHolderBackgroundColor: #fae3b4 !default;
$iconsHolderBorderColor:#d89048;

$figurecaptionBackgroundColor:#464e3c !default;
$figurecaptionColor:#fcfcfc !default;

//  Footer Section Variables
$footerBackgroundColor: #255559 !default;
$footerHeaderBackgroundColor: #47c9af !default;
$footerTextColor: #eff3f3 !default;
$footerIconBackgroundColor:#34495e !default;
$footerIconColor: #f49765 !default;

// Contributors Variables
$contribTitleNameColor:#f39c12 !default;
$contribTitleJobColor:#bdc3c7 !default;