// Global Elements
// -------------------------

.no-cssanimations{
}

body{
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
ul.hlist{

}

// Image Max Size
img{
    max-width: 100%;
}

// Placeholder on Focus Animation suggested by Chris Coyier http://css-tricks.com/hang-on-placeholders/
[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease;
  opacity: 0;
}