/*!
* Grunge Food Icon Sprite Style v0.1
*
* Copyright 2013 ThemesTent, Bangladesh
*
* Designed and built with passion by @evanshajed; Front-End Developer @vizrt
*/

@import "compass/css3";
@import "compass/typography";

/* Core Variables & Mixins */
@import "variables";
@import "mixins";

@import "modular";
/* Including rem sizing mixins */
@import "rem";

// Typography Template
@import "../../components/typeplate/scss/typeplate";

/* Bourbon */
@import "bourbon/bourbon";

@import "app-variables";

@mixin pt-font(){
  font-family: $ptSansFont;
  font-weight: normal;
}

@mixin open-font(){
  font-family: $openSansFont;
  font-weight: normal;
}


// General Styles
a{
  color:$bodyLinkColor;
  text-decoration: none;
  &:hover{
    color:darken($bodyLinkColor,30%);
    text-decoration: none;
    @include transition(all 200ms ease);
  }
}
h1,h2,h3,h4,h5,h6{
  @include open-font();
  color: $bodyHeaderColor;
  font-weight: normal;
  text-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

code{
  // @include rem(font-size,20px);
  // font-weight: bold;
  // color: #e7e7aa;
}

//  Paragraph within Header Section
p.drop-cap{
  text-indent: 0;
  margin-top:0;
}
.drop-cap{
  @include dropcap();
}

abbr {
  @include smallcaps($small-caps-color, $small-caps-weight);
  &:hover {
    cursor: help;
  }
}

span.first-line,span.second-line{
  display: block;
}

// Common elements Padding And Margin for responsive view
p.drop-cap,.site-title,.dl-list,.main-section-holder,.contributors-container,.special-credits{
  @include respond-to(handhelds){
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
}

figurecaption{
  display: block;
  color:$figurecaptionColor;
  background-color:$figurecaptionBackgroundColor;
  padding:0.2em 0.5em;
  text-shadow: 0px 1px 0px rgba(1,1,1,0.3)
}

// Body Background
body{
  background-color: $bodyBackgroundColor;
  @include pt-font();
  color:$bodyTextColor
}


//  Main Header Section
.main-header{
  background: $headerBackgroundColor;
  background:url(../img/background/header-bg.png);
  @include box-shadow(0 1px 5px 3px rgba(1,1,1,0.2));
  @include rem(padding-top,30px);
  @include rem(padding-bottom,30px);

  // Food Badge Image
  .food-badge{
    @include inline-block;
    @include size(133px 150px);
    float: right;
    margin-top:1.5em;

    background:url(../img/food-icons/header-food-badge-normal.png);
    @include image-2x("../img/food-icons/header-food-badge-retina.png");
    @include background-size(133px 150px);
    background-repeat: no-repeat;
    background-position: 0;
  }

  // Site Title
  .site-title{
    @include open-font();
    text-transform: uppercase;
    margin-bottom: 0.6em;

    a{
      display:block;
      text-decoration: none;
      &:hover{
        text-decoration: none;
      }

      span.first-line{
        font-size: 30px;
        color:$titleColorDark;
        text-shadow: none;
      }

      span.second-line{
        font-size: 80px;
        color:$titleColorLight;
        line-height: 0.8;
        text-shadow: 6px 5px 0px rgba(78,78,78,0.6);
      }
    }
  }

  //  Header Paragraph
  p.drop-cap{
    @include rem(font-size,18px);
    color:$dropCapContentColor;
    line-height: 1.4;
    padding-right: 5px;
    @include respond-to(wide-screens){
      display: block;
      width: 650px;
      float: left;
    }
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    &:first-letter{
      @include rem(font-size,52px);
      font-weight: 700;
      color:$dropCapColor;
      text-shadow: 0px 1px 0px rgba(255,255,255,0.4);
    }
  }

  // Download and GitHub Badge
  .dl-list{
    margin:1em auto;
    li{
      a{
        @include open-font();
        @include rem(font-size, 26px);
        color:$dlFontColor;
      }
    }

    span.icon,span.content{
      @include inline-block;
    }
    a.git-dl span.icon, a.git-view span.icon{
      color:$dlIconColor;
      @include border-radius(200px);
      line-height: 1.5;
      padding: 2px 10px;
      position: absolute;

    }
    a.git-dl span.content,a.git-view span.content{
      @include border-radius(0px 18px 18px 0px);
      padding: 2px 20px 3px 20px;
      line-height: 1.2;
      margin-left: 35px;
    }

    a.git-dl{
      span.icon{
        background-color: $dlZipIconBackgroundColor;
      }
      span.content{
        background-color: $dlZipBackgroundColor;
      }
    }

    a.git-view{
      span.icon{
        background-color: $dlViewIconBackgroundColor;
      }
      span.content{
        background-color: $dlViewBackgroundColor;
      }
    }
  }
}

// Main Section Container
.main-section-container{
  margin-top: 3em;
}
.title-how-to-use{
  @extend .beta; @extend %hN;
  .first-line{
    @extend .epsilon; @extend %hN;
    color:#ccdceb;
    margin-bottom: 0.2rem;
    line-height: 0.8;
    text-shadow: 0 1px 0px rgba(0,0,0,0.3);
  }
  .second-line{
    @extend .beta; @extend %hN;
  }
}

// Kick Start Section Element Styles
.kick-start-section{}

// Food icons Section holder
.foods-icons-section-holder{
  margin-top: 1.5em;
}



//  Food Icons Section Holder
.food-icons-section{
  margin:0 auto;
  text-align: center;
}
.food-icon-holder{
  @include inline-block;
  margin:0.5em auto;
  text-align: center;
  background-color: $iconsHolderBackgroundColor;
  padding:5px;
  border:1px solid $iconsHolderBorderColor;
  span{
    padding:0;
    @include hide-text;
    margin-left: auto;
    margin-right: auto;
    border:2px solid $iconsBorderColor;
  }
  h5{
    color:$iconsNameColor;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.5)
  }
}

// Extended how To Section
.extended-section{
  margin-top:3em;
}

// Main Footer Section
.main-footer-section{
  background: $footerBackgroundColor;
  background: url(../img/background/footer-bg.jpg);
  color: $footerTextColor;
}
// Footer header Section
.footer-header-section{
  margin-top:em(30);
  margin-bottom: em(15);
  background:$footerHeaderBackgroundColor;
  background: rgba(71,201,175,0.6);
  padding-top:5px;
  padding-bottom: 5px;
  opacity:70%;
  h1{
    font-size:18px;
    color: $footerTextColor;
    margin-bottom: 5px;
    span.icon-holder{
      display:block;
      float: left;
      margin: 7px 10px 0px 0px;
      padding:4px;
      background:$footerIconBackgroundColor;
      @include size(24px);
      text-align: center;
      @include border-radius(40px);
      vertical-align: middle;
      color:$footerIconColor;
      font-size: em(16);
      span{
      }
    }

    span.content-holder{
      @include inline-block;
      span.first-line{
        font-size: em(24);
        text-transform: uppercase;
      }
      span.second-line{
        @include pt-font();
        font-size: em(14);
        line-height: 14px;
      }
    }
  }
}

// Contributors Container
.contributors-container{
  .title-person, .title-job{
    @include pt-font();
  }
  .title-person{
    font-size:em(30);
    font-weight: 700;
    color: $contribTitleNameColor;
    margin-bottom: 5px;
  }
  .title-job{
    font-size: em(16);
    color:$contribTitleJobColor;
    a{
      color:#f5ee90;
      text-decoration: none;
    }
  }
}

.creative-work{
  header{

  }
}