@charset "UTF-8";
/*!
* Retina Icon Sprites Sass Mixins v0.1
*
* Copyright 2013 ThemesTent, Bangladesh
*
* Designed and built with passion by @evanshajed; Front-End Developer @vizrt
*/
/* Core Variables & Mixins */
/* defalut responsive modules */
/* defalut responsive modules */
/* Including rem sizing mixins */
/*!
+---------------------------------------------------------------------+
|        _                               _         _                  |
|       | |_  _   _  _ __    ___  _ __  | |  __ _ | |_  ___           |
|       | __|| | | || '_ \  / _ \| '_ \ | | / _` || __|/ _ \          |
|       | |_ | |_| || |_) ||  __/| |_) || || (_| || |_|  __/          |
|        \__| \__, || .__/  \___|| .__/ |_| \__,_| \__|\___|          |
|             |___/ |_|          |_|                                  |
|                                                                     |
|                                                                     |
| URL: http://typeplate.com                                           |
| VERSION: 1.0.0                                                      |
| Github: https://github.com/typePlate/typeplate.github.com           |
| AUTHORS: Zachary Kain (@zakkain) & Dennis Gaebel (@gryghostvisuals) |
| LICENSE: Creative Commmons                                          |
| http://creativecommons.org/licenses/by/3.0                          |
|                                                                     |
+---------------------------------------------------------------------+
*/
@font-face {
  font-family: "Ampersand";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+0026; }

@font-face {
  font-family: "Ampersand";
  src: local("Georgia");
  unicode-range: U+270C; }

body {
  word-wrap: break-word; }

pre code {
  word-wrap: normal; }

/**
 * Dropcap Sass @include
 * Use the following Sass @include with any selector you feel necessary.
 *
	@include dropcap($float: left, $font-size: 4em, $font-family: inherit, $text-indent: 0, $margin: inherit, $padding: inherit, $color: inherit, $lineHeight: 1, $bg: transparent);
 *
 * Extend this object into your custom stylesheet.
 *
 */
html {
  font: normal 112.5%/1.65 serif; }

body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  color: #444444; }

h1, h2, h3, h4, h5, h6, .title-how-to-use, .title-how-to-use .first-line, .title-how-to-use .second-line {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0; }

.tera {
  font-size: 117px;
  font-size: 6.5rem;
  margin-bottom: 0.25385rem; }

.giga {
  font-size: 90px;
  font-size: 5rem;
  margin-bottom: 0.33rem; }

.mega {
  font-size: 72px;
  font-size: 4rem;
  margin-bottom: 0.4125rem; }

.alpha, h1 {
  font-size: 60px;
  font-size: 3.33333rem;
  margin-bottom: 0.495rem; }

.beta, h2, .title-how-to-use, .title-how-to-use .second-line {
  font-size: 48px;
  font-size: 2.66667rem;
  margin-bottom: 0.61875rem; }

.gamma, h3 {
  font-size: 36px;
  font-size: 2rem;
  margin-bottom: 0.825rem; }

.delta, h4 {
  font-size: 24px;
  font-size: 1.33333rem;
  margin-bottom: 1.2375rem; }

.epsilon, h5, .title-how-to-use .first-line {
  font-size: 21px;
  font-size: 1.16667rem;
  margin-bottom: 1.41429rem; }

.zeta, h6 {
  font-size: 18px;
  font-size: 1rem;
  margin-bottom: 1.65rem; }

p + p {
  text-indent: 1.5em; }

pre code {
  white-space: -moz-pre-wrap;
  white-space: pre-wrap; }

pre {
  white-space: pre; }

code {
  white-space: pre;
  font-family: monospace; }

/**
 * Abbreviations Markup
 *
	<abbr title="hyper text markup language">HMTL</abbr>
 *
 * Extend this object into your markup.
 *
 */
abbr {
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: gray; }
  abbr:hover {
    cursor: help; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222; }

/**
 * Lining Definition Style Markup
 *
	<dl class="lining">
		<dt><b></b></dt>
		<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
.lining dt,
.lining dd {
  display: inline;
  margin: 0; }
.lining dt + dt:before,
.lining dd + dt:before {
  content: "\A";
  white-space: pre; }
.lining dd + dd:before {
  content: ", "; }
.lining dd:before {
  content: ": ";
  margin-left: -0.2rem; }

/**
 * Dictionary Definition Style Markup
 *
	<dl class="dictionary-style">
		<dt><b></b></dt>
			<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
.dictionary-style dt {
  display: inline;
  counter-reset: definitions; }
  .dictionary-style dt + dt:before {
    content: ", ";
    margin-left: -0.2rem; }
.dictionary-style dd {
  display: block;
  counter-increment: definitions; }
  .dictionary-style dd:before {
    content: counter(definitions,decimal) ". "; }

/**
 * Stats Tab Markup
 *
	<ul class="stats-tabs">
		<li><a href="#">[value]<b>[name]</b></a></li>
	</ul>
 *
 * Extend this object into your markup.
 *
 */
.stats-tabs {
  padding: 0; }
  .stats-tabs li {
    display: inline-block;
    margin: 0 0.625rem 0 0;
    padding: 0 0.625rem 0 0;
    border-right: 0.125rem solid #cccccc; }
    .stats-tabs li:last-child {
      margin: 0;
      padding: 0;
      border: none; }
    .stats-tabs li a {
      display: inline-block;
      font-size: 1.5rem;
      font-weight: bold; }
      .stats-tabs li a b {
        display: block;
        margin: 0.125rem 0 0 0;
        font-size: 0.875rem;
        font-weight: normal; }

/**
 * Blockquote Markup
 *
	<blockquote cite="">
		<p>&Prime;&Prime;</p>
		<cite>
			<small><a href=""></a></small>
		</cite>
	</blockquote>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Pull Quotes Markup
 *
	<aside class="pull-quote">
		<blockquote>
			<p></p>
		</blockquote>
	</aside>
 *
 * Extend this object into your custom stylesheet.
 *
 */
.pull-quote {
  position: relative;
  padding: 1em; }
  .pull-quote:before, .pull-quote:after {
    height: 1em;
    opacity: 0.15;
    position: absolute;
    font-size: 4em; }
  .pull-quote:before {
    content: '“';
    top: 0em;
    left: 0em; }
  .pull-quote:after {
    content: '”';
    bottom: 0em;
    right: 0em; }

/**
 * Figures Markup
 *
	<figure>
		<figcaption>
			<strong>Fig. 4.2 | </strong>Type Anatomy, an excerpt from Mark Boulton's book<cite title="http://designingfortheweb.co.uk/book/part3/part3_chapter11.php">"Designing for the Web"</cite>
		</figcaption>
	</figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Footnote Markup : Replace 'X' with your unique number for each footnote
 *
	<article>
		<p><sup><a href="#fn-itemX" id="fn-returnX"></a></sup></p>
		<footer>
			<ol class="foot-notes">
				<li id="fn-itemX"><a href="#fn-returnX">↩</a></li>
			</ol>
		</footer>
	</article>
 *
 * Extend this object into your markup.
 *
 */
/* Bourbon */
a {
  color: #fae3b4;
  text-decoration: none; }
  a:hover {
    color: #f0ad25;
    text-decoration: none;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease; }

#gitBash a > strong {
  color: #f0ad25; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: normal;
  color: #eff3f3;
  font-weight: normal;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }

p.drop-cap {
  text-indent: 0;
  margin-top: 0; }

.drop-cap:first-letter {
  float: left;
  margin: inherit;
  padding: inherit;
  font-size: 4em;
  font-family: inherit;
  line-height: 1;
  text-indent: 0;
  background: transparent;
  color: inherit; }

abbr {
  font-variant: small-caps;
  font-weight: 700;
  text-transform: lowercase;
  color: white; }
  abbr:hover {
    cursor: help; }

span.first-line, span.second-line {
  display: block; }

@media only screen and (max-width: 320px) {
  p.drop-cap, .site-title, .dl-list, .main-section-holder, .contributors-container, .special-credits {
    padding-left: 0.2em;
    padding-right: 0.2em; } }

figure {
  margin-bottom: 30px;
  margin-bottom: 1.875rem; }

figurecaption {
  display: block;
  color: #fcfcfc;
  background-color: #464e3c;
  padding: 0.2em 0.5em;
  text-shadow: 0px 1px 0px rgba(1, 1, 1, 0.3); }

body {
  background-color: #304848;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  color: #f4f4f4; }

.main-header {
  background: #f7941d;
  background: url(../img/background/header-bg.png);
  box-shadow: 0 1px 5px 3px rgba(1, 1, 1, 0.2);
  padding-top: 30px;
  padding-top: 1.875rem;
  padding-bottom: 30px;
  padding-bottom: 1.875rem; }
  .main-header .food-badge {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    width: 133px;
    height: 150px;
    float: right;
    margin-top: 1.5em;
    background: url(http://commondatastorage.googleapis.com/ttf-icons%2Fheader-food-badge-normal.png);
    -webkit-background-size: 133px 150px;
    -moz-background-size: 133px 150px;
    -ms-background-size: 133px 150px;
    -o-background-size: 133px 150px;
    background-size: 133px 150px;
    background-repeat: no-repeat;
    background-position: 0; }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .main-header .food-badge {
        /* on retina, use image that's scaled by 2 */
        background-image: url("http://commondatastorage.googleapis.com/ttf-icons%2Fheader-food-badge-retina.png"); } }
  .main-header .site-title {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 0.6em; }
    .main-header .site-title a {
      display: block;
      text-decoration: none; }
      .main-header .site-title a:hover {
        text-decoration: none; }
      .main-header .site-title a span.first-line {
        font-size: 30px;
        color: #255559;
        text-shadow: none; }
      .main-header .site-title a span.second-line {
        font-size: 80px;
        color: #fae3b4;
        line-height: 0.8;
        text-shadow: 6px 5px 0px rgba(78, 78, 78, 0.6); }
  .main-header p.drop-cap {
    font-size: 18px;
    font-size: 1.125rem;
    color: #fefefe;
    line-height: 1.4;
    padding-right: 5px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3); }
    @media only screen and (min-width: 1024px) {
      .main-header p.drop-cap {
        display: block;
        width: 650px;
        float: left; } }
    .main-header p.drop-cap:first-letter {
      font-size: 52px;
      font-size: 3.25rem;
      font-weight: 700;
      color: #363636;
      text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4); }
  .main-header .dl-list {
    margin: 1em auto; }
    .main-header .dl-list li a {
      font-family: "Open Sans Condensed", sans-serif;
      font-weight: normal;
      font-size: 26px;
      font-size: 1.625rem;
      color: #34495e; }
    .main-header .dl-list span.icon, .main-header .dl-list span.content {
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto; }
    .main-header .dl-list a.git-dl span.icon, .main-header .dl-list a.git-view span.icon {
      color: #f3f7df;
      -webkit-border-radius: 200px;
      -moz-border-radius: 200px;
      border-radius: 200px;
      line-height: 1.5;
      padding: 2px 10px;
      position: absolute; }
    .main-header .dl-list a.git-dl span.content, .main-header .dl-list a.git-view span.content {
      -webkit-border-radius: 0px 18px 18px 0px;
      -moz-border-radius: 0px 18px 18px 0px;
      border-radius: 0px 18px 18px 0px;
      padding: 2px 20px 3px 20px;
      line-height: 1.2;
      margin-left: 35px; }
    .main-header .dl-list a.git-dl span.icon {
      background-color: #186078; }
    .main-header .dl-list a.git-dl span.content {
      background-color: #eff3f3; }
    .main-header .dl-list a.git-view span.icon {
      background-color: #363636; }
    .main-header .dl-list a.git-view span.content {
      background-color: #eff3f3; }

.main-section-container {
  margin-top: 3em; }

.title-how-to-use .first-line {
  color: #ccdceb;
  margin-bottom: 0.2rem;
  line-height: 0.8;
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.3); }

.foods-icons-section-holder {
  margin-top: 1.5em; }

.food-icons-section {
  margin: 0 auto;
  text-align: center; }

.food-icon-holder {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  margin: 0.5em auto;
  text-align: center;
  background-color: #fae3b4;
  padding: 5px;
  border: 1px solid #d89048; }
  .food-icon-holder span {
    padding: 0;
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #f0a860; }
  .food-icon-holder h5 {
    color: #d35400;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5); }

.extended-section {
  margin-top: 3em; }

.main-footer-section {
  background: #255559;
  background: url(../img/background/footer-bg.jpg);
  color: #eff3f3; }

.footer-header-section {
  margin-top: 1.875em;
  margin-bottom: 0.9375em;
  background: #47c9af;
  background: rgba(71, 201, 175, 0.6);
  padding: 5px 10px; }
  .footer-header-section h1 {
    font-size: 18px;
    color: #eff3f3;
    margin-bottom: 5px; }
    .footer-header-section h1 span.icon-holder {
      display: block;
      float: left;
      margin: 7px 10px 0px 0px;
      padding: 4px;
      background: #34495e;
      width: 24px;
      height: 24px;
      text-align: center;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      border-radius: 40px;
      vertical-align: middle;
      color: #f49765;
      font-size: 1em; }
    .footer-header-section h1 span.content-holder {
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto; }
      .footer-header-section h1 span.content-holder span.first-line {
        font-size: 1.5em;
        text-transform: uppercase; }
      .footer-header-section h1 span.content-holder span.second-line {
        font-family: "PT Sans", sans-serif;
        font-weight: normal;
        font-size: 0.875em;
        line-height: 14px; }

.contributors-container .title-person, .contributors-container .title-job {
  font-family: "PT Sans", sans-serif;
  font-weight: normal; }
.contributors-container .title-person {
  font-size: 1.875em;
  font-weight: 700;
  color: #f39c12;
  margin-bottom: 5px; }
.contributors-container .title-job {
  font-size: 1em;
  color: #bdc3c7; }
  .contributors-container .title-job a {
    color: #f5ee90;
    text-decoration: none; }
.contributors-container .meta-bar li .twitter-follow-button {
  margin-bottom: -4px; }
