/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/evanshajed\/ProjectResources\/work\/grunge-food-icon-gh-pages\/app\/css\/sass\/prism\.scss}line{font-family:\000038}}
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  text-align: left; }

/* Code blocks */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/evanshajed\/ProjectResources\/work\/grunge-food-icon-gh-pages\/app\/css\/sass\/prism\.scss}line{font-family:\0000329}}
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/evanshajed\/ProjectResources\/work\/grunge-food-icon-gh-pages\/app\/css\/sass\/prism\.scss}line{font-family:\0000337}}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822; }

/* Inline code */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/evanshajed\/ProjectResources\/work\/grunge-food-icon-gh-pages\/app\/css\/sass\/prism\.scss}line{font-family:\0000342}}
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/evanshajed\/ProjectResources\/work\/grunge-food-icon-gh-pages\/app\/css\/sass\/prism\.scss}line{font-family:\0000350}}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/evanshajed\/ProjectResources\/work\/grunge-food-icon-gh-pages\/app\/css\/sass\/prism\.scss}line{font-family:\0000354}}
.token.punctuation {
  color: #f8f8f2; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/evanshajed\/ProjectResources\/work\/grunge-food-icon-gh-pages\/app\/css\/sass\/prism\.scss}line{font-family:\0000358}}
.namespace {
  opacity: .7; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/evanshajed\/ProjectResources\/work\/grunge-food-icon-gh-pages\/app\/css\/sass\/prism\.scss}line{font-family:\0000363}}
.token.property,
.token.tag {
  color: #f92672; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/evanshajed\/ProjectResources\/work\/grunge-food-icon-gh-pages\/app\/css\/sass\/prism\.scss}line{font-family:\0000368}}
.token.boolean,
.token.number {
  color: #ae81ff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/evanshajed\/ProjectResources\/work\/grunge-food-icon-gh-pages\/app\/css\/sass\/prism\.scss}line{font-family:\0000374}}
.token.selector,
.token.attr-name,
.token.string {
  color: #a6e22e; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/evanshajed\/ProjectResources\/work\/grunge-food-icon-gh-pages\/app\/css\/sass\/prism\.scss}line{font-family:\0000383}}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #f8f8f2; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/evanshajed\/ProjectResources\/work\/grunge-food-icon-gh-pages\/app\/css\/sass\/prism\.scss}line{font-family:\0000389}}
.token.atrule,
.token.attr-value {
  color: #e6db74; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/evanshajed\/ProjectResources\/work\/grunge-food-icon-gh-pages\/app\/css\/sass\/prism\.scss}line{font-family:\0000394}}
.token.keyword {
  color: #66d9ef; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/evanshajed\/ProjectResources\/work\/grunge-food-icon-gh-pages\/app\/css\/sass\/prism\.scss}line{font-family:\0000399}}
.token.regex,
.token.important {
  color: #fd971f; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/evanshajed\/ProjectResources\/work\/grunge-food-icon-gh-pages\/app\/css\/sass\/prism\.scss}line{font-family:\00003103}}
.token.important {
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/evanshajed\/ProjectResources\/work\/grunge-food-icon-gh-pages\/app\/css\/sass\/prism\.scss}line{font-family:\00003107}}
.token.entity {
  cursor: help; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/evanshajed\/ProjectResources\/work\/grunge-food-icon-gh-pages\/app\/css\/sass\/prism\.scss}line{font-family:\00003110}}
pre[data-line] {
  position: relative;
  padding: 1em 0 1em 3em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/evanshajed\/ProjectResources\/work\/grunge-food-icon-gh-pages\/app\/css\/sass\/prism\.scss}line{font-family:\00003115}}
.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  /* Same as .prism’s padding-top */
  background: rgba(153, 122, 102, 0.08);
  background: -moz-linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  background: -webkit-linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  background: -o-linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  background: linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  pointer-events: none;
  line-height: inherit;
  white-space: pre; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/evanshajed\/ProjectResources\/work\/grunge-food-icon-gh-pages\/app\/css\/sass\/prism\.scss}line{font-family:\00003135}}
.line-highlight:before,
.line-highlight[data-end]:after {
  content: attr(data-start);
  position: absolute;
  top: .4em;
  left: .6em;
  min-width: 1em;
  padding: 0 .5em;
  background-color: rgba(153, 122, 102, 0.4);
  color: #f5f2f0;
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  vertical-align: .3em;
  border-radius: 999px;
  text-shadow: none;
  box-shadow: 0 1px white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/evanshajed\/ProjectResources\/work\/grunge-food-icon-gh-pages\/app\/css\/sass\/prism\.scss}line{font-family:\00003152}}
.line-highlight[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: .4em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/evanshajed\/ProjectResources\/work\/grunge-food-icon-gh-pages\/app\/css\/sass\/prism\.scss}line{font-family:\00003157}}
pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/evanshajed\/ProjectResources\/work\/grunge-food-icon-gh-pages\/app\/css\/sass\/prism\.scss}line{font-family:\00003163}}
pre.line-numbers > code {
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/evanshajed\/ProjectResources\/work\/grunge-food-icon-gh-pages\/app\/css\/sass\/prism\.scss}line{font-family:\00003167}}
.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/evanshajed\/ProjectResources\/work\/grunge-food-icon-gh-pages\/app\/css\/sass\/prism\.scss}line{font-family:\00003184}}
.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/evanshajed\/ProjectResources\/work\/grunge-food-icon-gh-pages\/app\/css\/sass\/prism\.scss}line{font-family:\00003190}}
.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right; }
